*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    height:100vh;
}

.container{
    display:flex;
    height:100vh;
}

/* ================= Sidebar ================= */

.sidebar{

    width:350px;

    background:#1f2937;

    color:white;

    overflow-y:auto;

    padding:20px;
}

.sidebar h1{

    text-align:center;

    margin-bottom:20px;
}

.sidebar h2{

    margin-top:20px;

    margin-bottom:10px;

    font-size:18px;
}

.sidebar input{

    width:100%;

    padding:10px;

    margin-bottom:10px;

    border:none;

    border-radius:5px;

    outline:none;
}

.sidebar select{

    width:100%;

    padding:10px;

    margin-bottom:10px;

    border:none;

    border-radius:5px;

    outline:none;
}

.sidebar button{

    width:100%;

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-size:15px;

    margin-bottom:10px;
}

.sidebar button:hover{

    background:#1d4ed8;
}

.sidebar hr{

    margin:20px 0;
}

.sidebar ul{

    list-style:none;
}

.sidebar li{

    background:#374151;

    padding:10px;

    border-radius:5px;

    margin-bottom:8px;
}

/* ================= Map ================= */

.map-container{

    flex:1;

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:auto;
}

#map{

    background:white;

    border:2px solid #ddd;
}

/* ================= SVG ================= */

.room{

    fill:#2563eb;

    stroke:#111827;

    stroke-width:2;

    cursor:pointer;
}

.room:hover{

    fill:#ef4444;
}

.roomText{

    font-size:14px;

    text-anchor:middle;

    font-weight:bold;
}

.line{

    stroke:#000;

    stroke-width:3;
}

.stepText{

    fill:red;

    font-size:14px;

    font-weight:bold;
}